body{
    background: white;
}
.allBrand_header{
    display: block;

}
.allBrand_title{
    height: 50px;
    line-height: 50px;
    position: relative;
    padding: 0 10px;
    background-color: white;
    border-bottom: 1px solid #f3f3f3;
}

.sp1t{
    width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    text-align: center;
    float: right;
}

.sp2t{
    float: right;
    margin-top: -50px;
    font-size: 17px!important;
}
.back{
    color: #898989;
}


.shop_content{
    width: 100%;
    height: 298px;
    background: #ffffff;
}

.gouwuche{
    width: 100%;
    height: 170px;
    background: white;
    text-align: center;
    line-height: 170px;
}

.gouwuche span{
    font-size: 100px !important;
    color: #e9e9e9;
}


.gowu_title{
    color: #dbdbdb;
    font-size: 16px;
    text-align: center;
    background: #ffffff;
}

.end_button{
    width: 100%;
    height: 40px;
    background: white;
    text-align: center;
}

.end_button a{
    display: inline-block;
    width: 100px;
    height: 40px;
    border: 1px solid #999;
    border-radius: 5px;
    line-height: 40px;
    margin-top: 20px;
    margin-left: 10px;
}

.end_button span{
    font-size: 16px;
    color: #999;
}